/**
 * Prism.js syntax highlighting theme
 * Uses CSS variables defined in cv.css for theme switching
 */

/* Base code styles */
code[class*="language-"],
pre[class*="language-"] {
  color: var(--code-text);
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Selection */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: var(--code-selection);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: var(--code-selection);
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--code-bg);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}

/* Token colors */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment);
}

.token.punctuation {
  color: var(--code-punctuation);
}

.token.delimiter.important,
.token.selector .parent,
.token.tag,
.token.tag .token.punctuation {
  color: var(--code-tag);
}

.token.attr-name,
.token.boolean,
.token.boolean.important,
.token.number,
.token.constant,
.token.selector .token.attribute {
  color: var(--code-number);
}

.token.class-name,
.token.key,
.token.parameter,
.token.property,
.token.property-access,
.token.variable {
  color: var(--code-property);
}

.token.attr-value,
.token.inserted,
.token.color,
.token.selector .token.value,
.token.string,
.token.string .token.url-link {
  color: var(--code-string);
}

.token.builtin,
.token.keyword-array,
.token.package,
.token.regex {
  color: var(--code-builtin);
}

.token.function,
.token.selector .token.class,
.token.selector .token.id {
  color: var(--code-function);
}

.token.atrule .token.rule,
.token.combinator,
.token.keyword,
.token.operator,
.token.pseudo-class,
.token.pseudo-element,
.token.selector,
.token.unit {
  color: var(--code-keyword);
}

.token.deleted,
.token.important {
  color: var(--code-deleted);
}

.token.keyword-this,
.token.this {
  color: var(--code-property);
}

.token.important,
.token.keyword-this,
.token.this,
.token.bold {
  font-weight: bold;
}

.token.delimiter.important {
  font-weight: inherit;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
